20 list of wine import companies all over the world with country name:


<tr><td>E. & J. Gallo Winery</td><td>USA</td></tr>
<tr><td>Treasury Wine Estates</td><td>Australia</td></tr>
<tr><td>Concha y Toro</td><td>Chile</td></tr>
<tr><td>Accolade Wines</td><td>Australia</td></tr>
<tr><td>Pernod Ricard Winemakers</td><td>France</td></tr>
<tr><td>Viña Concha y Toro</td><td>Chile</td></tr>
<tr><td>Kendall</td><td>Jackson Wine Estates</td><td>USA</td></tr>
<tr><td>Grupo Peñaflor</td><td>Argentina</td></tr>
<tr><td>Brown</td><td>Forman Beverages</td><td>USA</td></tr>
<tr><td>Bacardi Limited</td><td>Bermuda</td></tr>
<tr><td>Caviro</td><td>Italy</td></tr>
<tr><td>Trinchero Family Estates</td><td>USA</td></tr>
<tr><td>Castel Group</td><td>France</td></tr>
<tr><td>Wine Group</td><td>USA</td></tr>
<tr><td>Miguel Torres</td><td>Spain</td></tr>
<tr><td>LVMH</td><td>France</td></tr>
<tr><td>Casella Family Brands</td><td>Australia</td></tr>
<tr><td>Constellation Brands</td><td>USA</td></tr>
<tr><td>E&J Gallo</td><td>USA</td></tr>
<tr><td>Henkell & Co. Sektkellerei KG</td><td>Germany</td></tr>


20 list of wine export companies all over the world with country name:


<tr><td>Treasury Wine Estates</td><td>Australia</td></tr>
<tr><td>E. & J. Gallo Winery</td><td>USA</td></tr>
<tr><td>Concha y Toro</td><td>Chile</td></tr>
<tr><td>Accolade Wines</td><td>Australia</td></tr>
<tr><td>Viña Concha y Toro</td><td>Chile</td></tr>
<tr><td>Castel Group</td><td>France</td></tr>
<tr><td>Brown</td><td>Forman Beverages</td><td>USA</td></tr>
<tr><td>Pernod Ricard Winemakers</td><td>France</td></tr>
<tr><td>Trinchero Family Estates</td><td>USA</td></tr>
<tr><td>Caviro</td><td>Italy</td></tr>
<tr><td>Wine Group</td><td>USA</td></tr>
<tr><td>Grupo Peñaflor</td><td>Argentina</td></tr>
<tr><td>Henkell & Co. Sektkellerei KG</td><td>Germany</td></tr>
<tr><td>Bodegas Riojanas</td><td>Spain</td></tr>
<tr><td>Sogrape Vinhos</td><td>Portugal</td></tr>
<tr><td>Compañía Vinícola del Norte de España</td><td>Spain</td></tr>
<tr><td>Bacardi Limited</td><td>Bermuda</td></tr>
<tr><td>Santa Carolina</td><td>Chile</td></tr>
<tr><td>Marqués de Riscal</td><td>Spain</td></tr>
<tr><td>LVMH</td><td>France</td></tr>

